body{
    margin: 0;
    color: #707070;
    font-family: 'Lora', serif;
}

a{
    color: darksalmon;
}

img {
    width: 100%;
}

/* ==========================
Typography
========================== */ 

h1,
h2,
h3 {
    margin: 0;
    color: #143774;
    font-weight: 400;
}


/* ==========================
Navbar
========================== */ 

header {
    border: 1px solid green;
    background: #f8f8f8;
    padding: 2em 0; 
}

nav {
    border: 1px solid yellow;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 1em;
}

nav a {
    text-decoration: none;
    color: #717171;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    border: 1px solid magenta;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.site-title {
    border: 1px solid blue;
    text-align: center;
    color: #143774;
}

.site-title p {
    color: #1792D2;
}

.sub-title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
}

/* ==========================
Main Layout
========================== */

.container-main {
    border: 1px solid magenta;
    display: flex;
    justify-content:space-between;
    margin: 2em auto;
}

main {
    width: 73%;
}

aside{
    width: 22%;
}

.post-recent {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
}

.post-recent-main {
    width: 60%;
}

.post-recent-aside {
    width: 30%;
}

/* ==========================
Aside Layout
========================== */
.aside-widget {
    border: 1em solid #EBEBEB;
    padding: 1em;
    margin-bottom: 2em;

}
/* ==========================
Footer
========================== */

footer {
    background: #143774;
    padding: 2em 0;
}