body{
    margin: 0;
    color: #707070;
}

a{
    color: darksalmon;
}

img {
    width: 100%;
}

/* ==========================
Typography
========================== */ 



h1 {
    color: darkkhaki;
    margin: 0;
}

/* ==========================
Navbar
========================== */ 

header {
    border: 1px solid green;
    background: #f8f8f8;
    padding: 2em 0; 
}

nav {
    border: 1px solid yellow;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 1em;
}

nav a {
    text-decoration: none;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    border: 1px solid magenta;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.site-title {
    border: 1px solid blue;
    text-align: center;
    color: #143774;
}

.site-title p {
    color: #1792D2;
}

/* ==========================
Layout
========================== */

.container-main {
    border: 1px solid magenta;
}